:root {
  --branco: #ffffff;
}

.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 0;
}

.cabecalho__menu_hamburguer {
  height: 24px;
  width: 24px;
  background-image: url(../images/Menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 1.5em 0 1.5em;
}

.container {
  display: flex;
  align-items: center;
}

.container__direita {
  margin: 0 0.75em 0 0;
}

.lista-menu {
  display: none;
  position: absolute;
  top: calc(100% - 1em);
  width: 70vw;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.container__botao:checked ~ .container__label > .cabecalho__menu_hamburguer {
  background: url(../images/Menu\ Aberto.svg);
}

.container__botao:checked + .container__label {
  background: var(--azul-gradiente);
  padding: 1em 0;
}

.container__botao {
  display: none;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: #eb9b00;
  font-size: 16px;
  font-weight: 700;
}

.opcoes,
.cabecalho__titulo {
  display: none;
}

.lista-menu__link {
  background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__texto {
  display: none;
}

@media screen and (min-width: 1024px) {
  .cabecalho {
    justify-content: space-around;
  }

  .cabecalho__titulo,
  .cabecalho__titulo--negrito {
    display: inline;
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    margin-left: 0.1em;
  }

  .cabecalho__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
    gap: 2em;
  }

  .opcoes__item {
    text-decoration: none;
    background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }

  .cabecalho__menu_hamburguer,
  .container__icone--transparente {
    display: none;
  }

  .container__icone {
    margin: 0 1em;
  }

  .opcoes__botao {
    display: none;
  }

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
  }

  .lista-menu {
    width: auto;
  }

  .opcoes__botao:checked ~ .container__label > .opcoes__item {
    background: var(--azul-gradiente);
    -webkit-text-fill-color: var(--branco);
  }

  .opcoes__item {
    padding: 1em 1em;
  }

  .lista-menu__item:hover {
    background: var(--azul-gradiente);
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }
}

@media screen and (min-width: 1728px) {
  .cabecalho {
    padding: 1em 4em;
  }

  .cabecalho__titulo {
    margin-right: 3em;
  }

  .container__link {
    display: flex;
    align-items: center;
  }

  .container__link {
    text-decoration: none;
    color: #000000;
  }

  .opcoes {
    margin-right: auto;
  }

  .container__texto {
    display: block;
  }
}
